@import "../../Sass/App.module.scss";

.section {
  display: flex;
  flex-direction: column;
  padding-top: 35vh;
}

.subtitle {
  font-size: 40px;
  color: $lightslate;
}

.projectSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  max-width: 800px;
}

.projectSection .project:not(:first-child) {
  margin-top: 50px;
}

.project {
  display: flex;
  align-items: center;
}

.projectImage img {
  border-radius: 4px;
  max-width: 300px;
  height: 300px;
  box-shadow: 1rem 1rem 0 0 $navyblue, 1rem 1rem 0 3px $green;
}

.projectText {
  margin-right: 25px;
  font-size: 20px;
  color: $slate;
  margin: 0 0 0 30px;
}

.siteLinks {
  display: flex;
}

.projectText a {
  color: $green;
  position: relative;
}

.projectText a:hover {
  cursor: pointer;
}

.projectText a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: $green;
  opacity: 50%;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.projectText a:hover:before {
  visibility: visible;
  opacity: 50%;
  width: 100%;
}

.projectDescription p {
  margin-top: 20px;
}
