@import "../../../Sass/App.module.scss";

.iconGroup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 120px;
    width: 25px;
    margin-left: 2%;
    padding-bottom: 25px;
    position: fixed;
    left: 0;
    bottom: 0;
}

.iconGroup a {
    color: $lightslate;
}

.iconGroup a:hover {
    color: $green;
    transform: translateY(-5px);
    transition: transform 330ms ease-in-out;
}